apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-devops
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: l4l3y3nd4/devsu-demo-app:IMAGE_TAG
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8000

          env:
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: demo-secret
                  key: SECRET_KEY

            - name: ALLOWED_HOSTS
              value: "*,demo.local,localhost"


          readinessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10