name: CI-CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:


jobs:

  ############################
  # TEST + QUALITY CHECK #
  ############################
  test-and-quality:
    runs-on: ubuntu-latest

    env:
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      DATABASE_NAME: db.sqlite3

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # 1. Static Code Analysis (flake8)
      - name: Install lint dependencies
        run: pip install flake8

      - name: Run flake8
        run: flake8 .

      - name: Run migrations check
        run: python manage.py makemigrations --check

      # 2. Code Coverage
      - name: Install coverage
        run: pip install coverage

      - name: Run tests with coverage
        run: |
          coverage run manage.py test
          coverage report

  ############################
  # DOCKER BUILD + PUSH  #
  ############################
  docker-build:
    needs: test-and-quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devsu-demo-app:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devsu-demo-app:${{ github.sha }}


  ############################
  # SECURITY SCAN        #
  ############################
  security-scan:
    needs: docker-build
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/devsu-demo-app:${{ github.sha }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH

  ############################
  # DEPLOY TO K8S        #
  ############################
  deploy:
    needs: security-scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Create kind cluster
        run: |
          kind create cluster --name devsu-cluster

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Set image tag in deployment
        run: |
          sed -i "s|IMAGE_TAG|${{ github.sha }}|g" k8s/03-deployment.yaml

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/

      - name: Wait for pods
        run: |
          kubectl wait --for=condition=available deployment/demo-app --timeout=120s -n demo-devops

      - name: Verify deployment
        run: |
          kubectl get pods -n demo-devops
          kubectl get svc -n demo-devops
